html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  background-color: rgb(50, 50, 50);
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}
